body{
    background-color: #F2CCD4;
    margin: 0;
    padding: 0;
}

.navCont{
    background: #C0284C;
    position: sticky;
    top: 0;
}

.dropdown-content{
    background-color: #C0284C;
}

.abtgame{
    background: #c0284b31;
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
    border-radius: 10px;
    font-family: Georgia;
}

@media (max-width: 800px){
    .abtgame{
        flex-direction: column;
    }
}

.jumptohead{
    text-align: center;
}

.jumpto{
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    flex: 1;
}

.abtthisgame{
    flex: 5;
    padding: 10px;
}

.abtorg{
    font-family: Georgia;
    padding: 10px;
    margin: 10px;
}

.abtorggame{
    background: #c0284b31;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#abtorgimg{
    width: 200px;
    height: 300px;
}

.abtorgdev, .abtorgrelease, .abtorgdiscont{
    background: #c0284b31;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.abtorgrec{
    background: #c0284b31;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

@media (max-width: 800px){
    .abtorgrec{
        flex-direction: column;
    }

    .abtorgimgdiv{
        display: none;
    }
}

.rectable{
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 10px;
}

table, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    width: 250px;
}

.knowmore{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}