*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100%;
}

.container .section:nth-child(1){
    background: url("../images/home_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.pageContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

@media (max-width: 800px){
    .pageContent{
        flex-direction: column;
    }
}

.pageContent > div{
    text-align: center;
}

.btns{
    flex: 1;
}

#homegif{
    width: 100%;
    pointer-events: none;
}

.btns button{
    background-color: rgba(128, 128, 128, 0.200);
    color: white;
    font-size: 180%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-radius: 8px;
    transition-duration: 0.5s;
    width: 60%;
    margin: 10px;
    padding: 5px;
}

.btns button:hover{
    color: black;
    transform: scale(1.2);
}

.closeDiv{
    width: 100%;
    float: right;
}

.modalHolder{
    display: flex;
    flex-direction: row;
    padding: 3% 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.logtocont{
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(173, 216, 230, 0.850);
    text-align: center;
}

.logtocont h1{
    margin-bottom: 15px;
}

.modal label, .modal input, .modal button{
    display: block;
    font-weight: bold;
    margin: auto;
}

.modal input{
    width: 60%;
    margin-bottom: 20px;
    padding: 8px;
    border: 2px solid;
    border-top: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
}

.modal button{
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: 700;
    width: 120px;
}

.modal button:hover{
    background-color: #002080;
    color: white;
    cursor: pointer;
}

.orDiv{
    flex: 1;
    display: table;
    font-size: 130%;
}

.or{
    display: table-cell;
    vertical-align: middle;
}

.anonplayDiv{
    flex: 2;
    display: table;
    font-size: 160%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #002080d5;
    color: whitesmoke;
}

.anonplayDiv:hover{
    background-color: rgba(245, 245, 245, 0.4);
}

.anonplay{
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 800px){
    .modalHolder{
        flex-direction: column;
    }

    .anonplayDiv{
        font-size: 120%;
    }
}

.container .section:nth-child(2){
    background: url("../images/about_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.yetanother{
    color: whitesmoke;
    font-family: 'Comic Sans MS';
    font-size: 150%;
    text-align: center;
    padding-top: 1%;
}

.howtoplay{
    background-color: rgba(128, 128, 128, 0.500);
    display: flex;
    flex-direction: row;
    font-family: cursive;
    border-radius: 15px;
    margin: 3%;
}

.howtoplay a{
    color: whitesmoke;
}

@media (max-width: 800px){
    .howtoplay{
        flex-direction: column-reverse;
        font-family: monospace;
    }
}

.exphtp{
    padding: 3%;
    flex: 2;
}

.exphtp li{
    margin: 2%;
}

.wasd{
    flex: 1;
    text-align: center;
    padding: 3%;
    margin: auto;
}