body{
    background-color: rgb(39, 43, 48);
    margin: 0;
    padding: 0;
}

.navCont{
    background: rgb(69, 75, 82);
    position: sticky;
    top: 0;
}

.dropdown-content{
    background-color: rgb(69, 75, 82);
}

.startbtn, .restartbtn{
    text-align: center;
    margin: 5%;
    z-index: -1;
}

.startbtn{
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
}

.restartbtn{
    display: none;
}

p{
    color: #c8c8c8;
    font-family: monospace;
    text-align: center;
    pointer-events: none;
}

.glowbtn{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 120%;
}

.glowbtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowbtn:active {
    color: #000
}

.glowbtn:active:after {
    background: transparent;
}

.glowbtn:hover:before {
    opacity: 1;
}

.glowbtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.gameArea{
    text-align: center;
    margin: 5% 0;
}

canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.randomDiv{
    font-family: monospace;
    font-size: 120%;
    color: #c8c8c8;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 0%;
    right: 0%;
}